{% if total_skidka %}
  Скидка: {{ total_skidka }}<br>
{% endif %}
{{ 'Total quantity' | t }} {{ total_qty }}, {{ 'Total price' | t }} {{ total_price }}, {{ 'Total nds' | t }} {{ total_nds }}

<a href="" class="cart-recalculate">{{ 'Recalculate' | t }}</a>
<a href="/cart/checkout">{{ 'Go to checkout' | t }}</a>
