{#
  cart_data.items - массив cart_items. Внутри элемента доступна name, sku, price, qty, product - объект ноды товара
  cart_data.total_price - суммарная стоимость
  cart_data.total_qty - всего штук
  cart_data.product - всего штук
#}
<div class="cart_add_info">
  {{ 'Product added to cart' | t }}
</div>
