<table>
  <thead>
  <tr>
    <th>{{ 'Product' | t }}</th>
    <th>{{ 'Summ' | t }}</th>
  </tr>
  </thead>
  <tbody>
  {% for item in cart_data.items %}
    <tr>
      <td> {{ item.name }} <strong> × {{ item.qty }}</strong></td>
      <td> {{ item.price * item.qty }}</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    <th>{{ 'Total' | t }}</th>
    <td>{{ total_price + total_skidka }} руб.</td>
  </tr>
  {% if total_skidka %}
    <tr>
      <th>{{ 'Discount' | t }}</th>
      <td>{{ total_skidka }} руб.</td>
    </tr>
  {% endif %}
  {% if total_nds %}
    <tr>
      <th>{{ 'Include nds' | t }}</th>
      <td>{{ total_nds }} руб.</td>
    </tr>
  {% endif %}
  <tr class="order_total">
    <th>{{ 'Total summ' | t }}</th>
    <td><strong>{{ total_price }}</strong></td>
  </tr>
  </tfoot>
</table>
