<div id="coupon_form">
{% for coupon in cart.get('field_tc_primenennye_kupony') %}
  {{ loop.first ? ('Applied coupons:' | t) }}
  {{ coupon.entity.label() }}
  <input type="checkbox" class="activate-coupon" {{ coupons_state[coupon.entity.id()] ? 'checked' }} data-coupon-id="{{ coupon.entity.id() }}">
  <a href="" class="remove-coupon" data-coupon-id="{{ coupon.entity.id() }}">{{ 'Remove coupon' | t }}</a>
  <br>
{% endfor %}
<input type="text" id="coupon-input" />
<a href="" id="coupon-apply">{{ 'Apply coupon' | t }}</a>
</div>
